@tailwind base;
@tailwind components;
@tailwind utilities;
.overflow-x-scroll::-webkit-scrollbar {
    display: none !important;
}
body::-webkit-scrollbar {
    display: none !important;
}
.overflow-y-scroll::-webkit-scrollbar {
    display: none !important;
}